@media screen and (min-width: 900px){

      body{
        margin-left: 250px;
        margin-top: 50px;
      }

      #tools a{
        font-size: 3ch;
      }

      #menu{
        width: 100%;
        justify-content: center;
        justify-items: center;
      }

      #menu li{
        margin: 5%;
      }
      
      #hero{
        display: flex;
        position: relative;
        justify-content: center;
      }
      
      #hero img{
        position: absolute;
        width:600px;
        margin-right: 100px;
      }

      #bottom-content{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      
      #hero div{
        margin-right: 600px;
      }
      
      #hero button{
        width:130px;
        height:40px;
        font-size: 2ch;
      
      }
      
      
      #hero h2{
        font-size:150%;
        width: 100%;
      }
      
      #hero p{
        font-size: 150%;
        margin-bottom: 5px;
      }
      
      #welcome{
        font-size: 4ch;
      }
      
      #reviews h2, #upgrades h2{
        font-size: 3ch;
        text-align: center;
      }
      
      #reviews ul li{
        font-size: 3ch;
        margin-top: 10px;
      }
      
    #upgrade-images{
        grid-gap: 10px;
    }
      
      .container{
        width: 200px;
      }
      
      #inv-display{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
      }

      #inv-display li{
        margin-bottom: 200px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 10px;
      }

      #detail-display{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      #detail-img{
        grid-column: 0/1;
        grid-row: 1/6;
        margin-left: 20px;
        width: 80%;
      }

      #detail-display div{
        grid-column: 2/3;
      }

      #detail-display h3{
        grid-column: 2/3;
      }

      .form-container{
        margin-left: 450px;
      }
}