<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <a href="/inv/add-classification">Add Classification</a>

    <a href="/inv/add-inventory">Add inventory item</a>

<%- messages() %>

