
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <a href="/inv/add-classification">Add Classification</a>

    <a href="/inv/add-inventory">Add inventory item</a>

    <h2>Manage Inventory</h2>
    <p>Select classification</p>
    <%- classificationSelect %>
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
    <%- messages() %>
<script src="../../js/inventory.js"></script>